
.tittle-sandwich{
    position: relative;
    font-size: 1.5vw;
    font-weight: 600;
    bottom: 3vw;
    z-index: 5;
    text-align: center;

}

.inputSlices{
    width:3vw;
    height: 1vw;
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-left: 1vw;
    margin-right:1vw;
    position: relative;
    left:4vw;
}
.increment, .decrement{
    padding-top:0.1vw;
    padding-bottom: 0.3vw;
    padding-left:  0.7vw;
    padding-right: 0.7vw;
    border-radius: 50%;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.185);
    font-size: 1.5vw;;
    color: #ffff;
    text-decoration: none;
    text-align: center;
    position: relative;
    left:4vw;

}