.conteiner-form{
   position: absolute;
   display: block;
   z-index: 2;
   width: 80vw;
   height: 80%;
   top:10%;
   left:10vw;
   background: radial-gradient(101.53% 98.56% at 0% 1.44%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.36) 0.01%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(100px);
    border-radius: 30px;
}
.text1{
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: #000000;
    position: relative;
    left: 4vw;
    top: 1vw;
}
.text1 span{
    width: 2vw;
    height:2px;
    background-color: #000000;
    position: absolute;
    top: 1.5vw;
    left: 1px;
}
.text2{
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2.5vw;
    color: #000000;
    position: relative;
    left: 4vw;
    top: 3vw;
}
.dishes-box{
    position: relative;
    display: flex;
    width: 20vw;
    height: auto;
    top: 3vw;
    left: 3vw;
}
.dishes-box a{
    text-decoration: none;
    font-size: .7vw;
    color: #ffff;
    background-color: #000000;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 2vw;
}
.food-image{
    position: relative;
    top: 3vw;
    right: 10vw;
    float: right;
    width: auto;
    height: auto;
}
.food-image img{
    width: 18vw;
    height: 18vw;
    z-index: 5;
    position: relative;
}
.food-image span{
    width: 16vw;
    height: 20vw;
    border-radius: 2.5vw;
    background-color: rgba(255, 255, 255, 0.185);
    position: absolute;
    z-index: 4;
    top:2vw;
    right: .5vw;
}
.food-image p{
    position: relative;
    font-size: 1.5vw;
    font-weight: 700;
    bottom: 3vw;
    left: 5vw;
    z-index: 5;
}
.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
  }
  input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
  }
  input:invalid {
    outline: 0;
  }
  input:focus,
  input:valid {
    border-color: #00dd22;
  }
  input:focus~label,
  input:valid~label {
    font-size: 14px;
    top: -24px;
    color: #00dd22;
  }